@use 'variables' as var;
// @use 'functions' as fn;
// @use 'mixins' as mix;
// -- base html-------------- //
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  // font-size: 16px;
}
.h2025gw {
  font-family: var.$v_font-sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  font-size: 15px;
  min-width: 320px;
}
// body {
//   background: var.$v_bgcolor;
//   color: var.$v_color;
//   font-family: var.$v_font-sans-serif;
//   line-height: 1.5;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -moz-font-feature-settings: 'liga', 'kern';
//   text-rendering: optimizeLegibility;
//   word-wrap: break-word;
//   font-size: 15px;
//   min-width: 320px;
// }
a,
.c_a {
  transition: all 0.3s ease;
  // text-decoration: underline !important;
  // color: var.$v_color-link;s
  opacity: 1;
  &:hover,
  &:active {
    opacity: 0.7;
  }
  &.a_no-effect {
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
// ==================================================
// utils
// ==================================================
.cm {
  box-sizing: border-box;
  background: repeating-linear-gradient(
    45deg,
    rgba(245, 245, 245, 0.1),
    rgba(245, 245, 245, 0.1) 10px,
    rgba(136, 136, 136, 0.2) 0,
    rgba(136, 136, 136, 0.2) 20px
  );
  border: solid 1px rgba(68, 68, 68, 0.2);
}
.c_pc-hidden {
  @apply md:hidden;
}
.c_sp-hidden {
  @apply hidden md:block;
}
.c_sp-hidden-inline {
  @apply hidden md:inline-block;
}
/* =========================================================
header / footer reset
============================================================ */
header.hotel {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Yu Gothic", YuGothic, Arial, Meiryo;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
header.hotel .txt,
header.hotel .icon{
  font-size: 10px;
}

.breadcrumb ol > li {
  color: #1e2679;
  font-size: 10px;
}
.breadcrumb ol > li .icon {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Yu Gothic", YuGothic, Arial, Meiryo;
  font-size: 10px;
}

footer.hotel {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Yu Gothic", YuGothic, Arial, Meiryo;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
footer.hotel .txt {
  color: #1e2679;
  font-size: 15px;
}
footer.hotel .icon{
  font-size: 13px;
}
footer.hotel .stit{
  font-size: 16px;
}
footer.hotel .footerAreaSearch h4, footer.hotel .footerAreaSearch li, footer.hotel .footerOthers h4, footer.hotel .footerOthers li{
  font-size: 12px;
}
footer.hotel .footer_btm{
  margin-bottom: 0px;
}
footer.hotel .footer_btm_list {
  color: #1e2679;
  font-size: 13px;
}
footer.hotel .footer_btm_copy small{
  font-size: 12px;
}
@media (min-width: 768px){
  footer.hotel .footer_btm_copy small{
    --tw-text-opacity: 1;
    color: rgb(30 38 121 / var(--tw-text-opacity));
  }
}
footer.hotel .footer_pagetop{
  font-size: 12px;
}
footer.hotel .footer_list a {
  color: #1e2679;
  font-size: 11px;
  background-image: url(https://happyhotel.jp/ad/cp/reserve_girl/assets/images/icon01.png);
  background-repeat: no-repeat;
  display: block;
}

/* =========================================================
#Link
============================================================ */
#Link {
  @apply relative;
  & > .el_bg-photo {
    @apply absolute top-0 left-0 w-full h-full;
    .el_img-pc {
      @apply hidden md:inline-block w-full h-full object-cover aspect-auto
    }
    .el_img-sp {
      @apply md:hidden inline-block w-full h-full object-cover aspect-auto;
    }
  }
  & > .inner {
    @apply px-[calc(100/375*18*1vw)] py-[calc(100/375*20*1vw)] md:py-[50px];
  }

  .outer_col1[yy0128kf] {
    @apply max-w-[1100px] mx-auto;
    & > .inner {
      @apply relative p-[calc(100/375*30*1vw)] md:p-[30px];
    }
    .el_blur-bg {
      @apply absolute top-0 left-0 backdrop-blur-lg w-full h-full;
    }
    .outer_link-list {
      @apply relative grid grid-cols-1 md:grid-cols-3 gap-y-[calc(100/375*12*1vw)] md:gap-x-[30px] md:gap-y-[20px];
      li {
        .el_link {
          @apply relative text-[#1E2679] text-[calc(100/375*20*1vw)] md:text-[30px] font-bold flex justify-center items-center bg-[#fff] hover:bg-[#ddd] rounded-full w-full h-[calc(100/375*50*1vw)] md:h-[66px];
        }
        .el_svg {
          @apply inline-block absolute top-1/2 left-[calc(100/375*28*1vw)] md:left-[40px] translate-y-[-50%] w-[calc(100/375*7*1vw)] md:w-[8px];
        }
        .outer_col2 {
          @apply flex items-end gap-[1px];
        }
        .col1 {
          @apply text-[calc(100/375*16*1vw)] md:text-[18px];
        }
        .col2 {
          @apply text-[calc(100/375*13*1vw)] md:text-[14px] pb-[1px];
        }
      }
      // お祭り・イベントの予約プラン css特殊対応
      li:last-child {
        .outer_col2 {
          @apply md:translate-x-[10px];
        }
        .col1 {
          @apply text-[calc(100/375*16*1vw)] md:text-[16px] xl:text-[18px];
        }
        .col2 {
          @apply text-[calc(100/375*13*1vw)] md:text-[12px] xl:text-[14px] pb-[1px];
        }
      }
    }
  }
}

